.container{
    background-color: #FDD4EB;
    border-radius: 25px;
    padding: 30px;
    margin-top: 100px;
}

input[type=text],[type=date],[type=password],.form-select{
    background-color: #FEE7F4;
}

.tooth-logo{
    width: 200px;
    height: 100px;
}

button[type=submit]{
    width: 250px;
    margin: 25px;
    border: none;
}

.back-btn{
    width: 50px;
    height: 50px;
}

.field_error{
    color:rgb(244, 66, 66);
    font-size:13px;
    font-weight:600;
}